RewriteEngine on

RewriteRule ^index$ index.php
RewriteRule ^accueil$ views/accueil.php

#### FRONT-END ############
RewriteRule ^contact$ FrontEnd/contact.php
RewriteRule ^apropos$ FrontEnd/apropos.php
RewriteRule ^memo$ FrontEnd/memo.php

RewriteRule ^temoignage views/temoignage/temoignage.php
RewriteRule ^traitement_temoignage views/temoignage/traitement_temoignage.php

RewriteRule ^message views/message/message.php

RewriteRule ^memoire views/memoire/memoire.php
RewriteRule ^traitement_memoire views/memoire/traitement_memoire.php
RewriteRule ^lecture.php views/memoire/lecture.php?code=$1 [QSA]

RewriteRule ^utilisateur views/utilisateur/utilisateur.php
RewriteRule ^profil views/utilisateur/profil.php
RewriteRule ^deconnexion views/utilisateur/deconnexion.php
RewriteRule ^activation.php views/utilisateur/activation.php?id=$1&token=$2 [QSA]
RewriteRule ^traitement_inscription.php views/utilisateur/traitement_inscription.php

RewriteRule ^activite views/activite/activite.php

