RewriteEngine on

RewriteRule ^index$ index.php
RewriteRule ^accueil$ views/accueil.php

#### FRONT-END ############
RewriteRule ^contact$ FrontEnd/contact.php
RewriteRule ^apropos$ FrontEnd/apropos.php
RewriteRule ^memo$ FrontEnd/memo.php
RewriteRule ^traitement_memo controllers/traitement_memo.php
#### TEMOIGNAGE #####
RewriteRule ^temoignage views/temoignage/temoignage.php
RewriteRule ^traitement_temoignage views/temoignage/traitement_temoignage.php
#### MESSAGE ############
RewriteRule ^message views/message/message.php

RewriteRule ^memoire views/memoire/memoire.php
RewriteRule ^traitement_m views/memoire/traitement_memoire.php
RewriteRule ^lecture.php views/memoire/lecture.php
RewriteRule ^detail.php views/memoire/display.php?code=$1 [QSA]

#### UTILISATEUR ############
RewriteRule ^utilisateur views/utilisateur/utilisateur.php
RewriteRule ^profil views/utilisateur/profil.php
RewriteRule ^deconnexion views/utilisateur/deconnexion.php
RewriteRule ^activation.php views/utilisateur/activation.php?id=$1&token=$2 [QSA]
RewriteRule ^traitement_inscription.php views/utilisateur/traitement_inscription.php
RewriteRule ^traitement_profil views/utilisateur/traitement_profil.php
RewriteRule ^traitement_activation views/utilisateur/traitement_activation.php

RewriteRule ^activite views/activite/activite.php
RewriteRule ^traitement_activite views/activite/traitement_activite.php
#### ADMIN ############
RewriteRule ^admin views/admin/admin.php
RewriteRule ^liste_memoire views/admin/liste_memoire.php
RewriteRule ^liste_temoignage views/admin/liste_temoignage.php
RewriteRule ^liste_message views/admin/liste_message.php
RewriteRule ^liste_activite views/admin/liste_activite.php
RewriteRule ^categorie views/admin/categorie.php
RewriteRule ^filiere views/admin/filiere.php
RewriteRule ^liste_utilisateur views/admin/liste_utilisateur.php
RewriteRule ^admin_profil views/admin/profil_admin.php
### TRAITEMENT ADMIN ########
RewriteRule ^listememoire  controllers/admin_liste_memoire.php
RewriteRule ^listetemoignage  controllers/admin_liste_temoignage.php
RewriteRule ^listeutilisateur  controllers/admin_liste_utilisateur.php
RewriteRule ^listefiliere  controllers/admin_liste_filiere.php
RewriteRule ^listecategorie controllers/admin_liste_categorie.php
