
body {
    background-color: white;
	font-size: 24px;
	font-weight: 400;
	
	
}
label{
	font-size: 24px;
}
div {
  margin-bottom: 10px;
  position: relative;
}
select{
  width: 200px;
  height: 30px;
}
.btn{
	width: 200px;
  height: 50px;
  font-size:30px;
}
input[type="submit"] {
  width: 200px;
  height: 55px;
}
input[type="number"] {
  width: 200px;
  height: 30px;
  font-size:20px;
  border: none;
  border-bottom: 4px solid black;
}
input[type="text"] {
  width: 200px;
  height: 30px;
  font-size:20px;
   border: none;
  border-bottom: 4px solid black;
}
input[type="date"] {
  width: 200px;
  height: 30px;
  font-size:20px;
  border: none;
  border-bottom: 4px solid black;
}
input[type="radio"] {
  width: 30px;
  height: 30px; 
}
input[type="time"] {
  width: 200px;
  height: 30px;
  font-size:20px;
  border: none;
  border-bottom: 4px solid black;
  text-align: center;
}
select{	
	width:210px;
	height:40px;
	font-size:20px
}
legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}
